<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Variables</title>
  </head>
  <body>
    <h1>VARIABLE.HTML</h1>
    <h2>First name is {{ first_name | lower | capfirst}}.</h2>
    <h2>Last name is {{ last_name | lower | capfirst}}.</h2>
    <h2>{{ some_list.0 }}</h2>
    <h2>{{ some_dict.inside_key }}</h2>
    <h2>{# this is a comment #}</h2>
    <ul>
      {% for num in some_list %} {% if num == 2 %}
      <li>TWO</li>
      {% else %}
      <li>{{ num }}</li>
      {% endif %} {% endfor %}
    </ul>
    <ul>
      {% for k, v in some_dict.items %}
      <li>{{ v }}</li>
      {% endfor %}
    </ul>

    {% if user_logged_in%}
    <h1>Welcome {{ first_name | lower | capfirst }}!</h1>
    {% else %}
    <h1>You are not logged in</h1>
    {% endif %}
  </body>
</html>
